VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJmbHdoZ2R4amVkc2Zia2p3b2dxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgyOTUyNzYsImV4cCI6MjA2Mzg3MTI3Nn0.B4bAGorkzxRzRZRXGMVCtSX9-UY_Jdb9s2e755raB18
VITE_SUPABASE_URL=https://bflwhgdxjedsfbkjwogq.supabase.co